* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Nunito", sans-serif;
  height: 3000px;
}
.navbar-toggler {
  border: none !important;
  padding: 0 !important;
}
.navbar-toggler:focus {
  box-shadow: none !important;
}
.navbtn {
  height: 2.5rem;
  width: 2.5rem;
}

.logo img {
  max-width: 7.5rem;
}
.navbar-nav {
  font-size: 1.1rem !important;
  font-weight: 700 !important;
}
.carousel-item {
}
.Home {
  margin-top: 6rem;
}
.caroselImg {
  max-width: 40rem;
}
