* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Nunito", sans-serif;
}
.navbar-toggler {
  border: none !important;
  padding: 0 !important;
}
.navbar-toggler:focus {
  box-shadow: none !important;
}
.navbtn {
  height: 2.5rem;
  width: 2.5rem;
}

.logo img {
  max-width: 7.5rem;
}
.navbar-nav {
  font-size: 1.1rem !important;
  font-weight: 700 !important;
}
.carousel-item {
}
.Home {
  margin-top: 7rem;
}
.caroselImg {
  max-width: 40rem;
}
.popular,
.about,
.Recipes,
.FAQs,
footer {
  margin-top: 150px;
}
.accordion-item {
  border: none !important;
}

.accordion-header {
  border-bottom: 1px solid #ddd !important;
}
.accordion-button:focus {
  box-shadow: none !important;
  border: none !important;
}
.accordion-button:not(.collapsed) {
  background-color: #f7d7da !important;
}
.accordion-button {
  font-family: "Nunito", sans-serif !important;
  font-size: 1.2rem;
}
.recipesImg {
  width: 12.844rem;
  height: 12.844rem;
}
